.teste {
    animation: slideLeft ease-in-out 1s;
}

button:focus-visible { 
    outline: 0;
}

.min-h-screen > section > button { 
    display: none;
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
}

@keyframes slideLeft { 
    from { transform: translate(65%); }
    to { transform: translate(0px); }
}

@media screen and (max-width: 836px) {
    .min-h-screen > section > button { 
        display: flex;
    }
}